@model MTI.Models.Situations

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center well" >أضافة موقف</h2>

@using (Html.BeginForm("Create","Attachment")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal container well" >
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group ">
        @Html.LabelFor(model => model.StudentID)
        @Html.DropDownList("StudentID", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.SituationType)
        @Html.EditorFor(model => model.SituationType, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SituationType, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Details)
        @Html.EditorFor(model => model.Details, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Details, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.procedure)
        @Html.EditorFor(model => model.procedure, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.procedure, "", new { @class = "text-danger" })
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.date)
        @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-center">
            <input type="submit" value="تسجيل" class="btn btn-primary text-center" />
        </div>
    </div>
</div>
}

