
@model IEnumerable<MTI.Models.Students>

@{
    ViewBag.Title = "Readonlystudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center well">بيانات الطلاب</h1>

<div class="container" style="padding-bottom:50px;">
    <div class="row">
        <div class="col-4">
            @Html.ActionLink("اضافه طالب", "New", "Students", new { @class = "btn btn-success  text-center" })
        </div>
        <div class="col-4">
            <a ID="button" href="/Punshiment/Addpunshiments" class="btn btn-danger center disabled">أضافة عقوبة</a>
        </div>
        <div class="col-4">
            <a ID="AddReward" href="/Reward/AddRewards" class="btn btn-success pull-left disabled">أضافة مكافأة</a>
        </div>
    </div>
    <br />


    @if (!Model.Any())
    {
        <h2 class="well">لم يتم تسجيل بيانات بعد... </h2>
    }
    else
    {
        <table border="0" cellspacing="5" cellpadding="5">
            <tbody>
                <tr style="display:inline-block;">
                    <td style="text-align:right;">الفرقة الدراسية : </td>
                    <td>
                        <select id="level" class="form-control items" style="margin-bottom:10px;">
                            <option value="الكل"></option>
                            <option value="عدادي">اعدادي</option>
                            <option value="متوسط">متوسط</option>
                            <option value="نهائي">نهائي</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered text-right " style="padding-top:20px;" id="students">
            <thead class="thead-dark" style="padding-top:20px">
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.StudentNumber)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.batchid)

                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SectionID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SpecializationID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Religion)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nationality)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SSN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mobile)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Blood_Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.BirthDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        عرض
                    </th>

                </tr>
            </thead>

            <tbody></tbody>
        </table>

        <div class="btn btn-success"> @Html.ActionLink("طباعه", "CreatePdf", "PDF")</div>

    }
</div>
@section scripts{
    <script>

        $(document).ready(function () {
            $("#students").DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'print'
                ],
                style: {
                    "float": "right"
                },
                "language": {
                    "url": "/Content/DataTables/language/arabic.json"
                },
                ajax: {
                    url: "/api/Student/getstudents",
                    dataSrc: ""
                },

                columns: [

                    {
                        data: "StudentNumber"
                    },
                    {
                        data: "Name"
                    },
                    {
                        data: "batch.batchNo"
                    },
                    {
                        data: "Section.Level"
                    },
                    {
                        data: "specialization.specialty"
                    },
                    {
                        data: "Religion"
                    },
                    {
                        data: "Nationality"
                    },
                    {
                        data: "SSN"
                    },
                    {
                        data: "Mobile"
                    },
                    {
                        data: "Blood_Type"
                    },
                    {
                        data: "BirthDate",
                        "searchable": false,
                        render: function (data) {
                            var m = new Date(data).getMonth();
                            return (parseInt(m) + 1) + "-" + new Date(data).getDate() + "- " + new Date(data).getFullYear();
                        }
                    },
                    {
                        data: "Address"
                    },
                    {
                        data: "Image",
                        render: function (data) {
                            return "<img  width=" + 40 + " height=" + 40 + " src=" + data + " />";
                        }
                    },
                    {
                        data: "ID",  //Get value from RoleId column, I assumed you used "RoleId" as the name for RoleId in your JSON, in my case, I didn't assigned any name in code behind so i used "mData": "0"
                        "mRender": function (data, type, student) {
                            return "<a class=" + "buttoninfo" + " href='/students/ViewStudent/" + data + "'>عرض الملف </a> "
                        }
                    }
                ],
                     "createdRow": function (row, data, dataIndex) {
                    if (data.behaviour < -20) { $(row).css('background-color', 'red'); }
                    else { $(row).css('background-color', ''); }
                }
            });

        });


        $("#students").on("click", ".Jsdelete", function () {
            var button = $(this);
            bootbox.confirm({
                message: "سيتم حذف بيانات الطالب " + $(this).attr("data-name"),
                buttons: {
                    confirm: {
                        label: 'تأكيد',
                        className: 'btn-success',
                    },
                    cancel: {
                        label: 'ألغاء',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/Student/DeleteStudent/" + button.attr("data-studID"),
                            method: "post"
                        })
                        button.parents("tr").remove();
                    }
                    else {
                        return;
                    }
                }
            });

        });
        $(document).ready(function () {
            var table = $('#students').DataTable();

            $('#level').on('change', function () {
                var x = this.value;
                if (x == "الكل") {
                    x = "";
                }
                table.search(x).draw();
            });

        });

        $(document).ready(function () {
            var table = $('#students').DataTable();

            $('#students tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });


            $('#button').click(function () {
                var myids = new Array();
                myids = [];
                var data = table.rows('.selected').data();
                for (var c = 0; c < data.length; c++) {
                    myids.push(data[c].ID);
                }
                if (data.length == 0) {
                    $('#Button').href = "#";
                }
                else {
                    var postData = { values: myids };
                    if (postData == 0) {
                        return;
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/punshiment/Resivedata",
                            data: postData,
                            success: function (data) {
                                window.location.href = "/punshiment/Addpunshiments";
                            },
                            dataType: "json",
                            traditional: true
                        });
                    }
                }


            });
        });

        $(document).ready(function () {
            var table = $('#students').DataTable();

            $('#AddReward').click(function () {
                var myids = new Array();
                myids = [];
                var data2 = table.rows('.selected').data();
                var x = data2;
                for (var c = 0; c < data2.length; c++) {
                    myids.push(data2[c].ID);
                }
                if (data2.length == 0) {
                    $('#AddReward').href = "#";
                }
                else {
                    postData = { values: myids };
                    if (postData == 0) {
                        $('#AddReward').href = "#";
                    } else {
                        $.ajax({
                            type: "POST",
                            url: "/Reward/Resivedata",
                            data: postData,
                            success: function (data) {
                                window.location.href = "/Reward/AddRewards";
                            },
                            dataType: "json",
                            traditional: true
                        });
                    }
                }


            });
        });



        $(document).ready(function () {
            $('#students tbody').on('click', 'tr', function () {
                var table = $('#students').DataTable();
                if (table.rows('.selected').any()) {
                    $('#AddReward').removeClass('disabled');
                    $('#button').removeClass('disabled');
                }
                else {
                    $('#AddReward').addClass('disabled');
                    $('#button').addClass('disabled');
                }
            });
        });


    </script>
    <script src="~/Scripts/print.js"></script>
}
